@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 10vh;
  text-align: center;
  background-color: rgb(184, 154, 185);
}

.header h3 {
  padding: 1rem;
  font-size: 2rem;
}

.main-container {
  background-color: rgb(195, 228, 195);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.announcer {
  font-size: 1.4rem;
}

.checkbox-container {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
  top: 25px;
}

.checkbox-wrapper-6 .tgl {
  display: none;
}
.checkbox-wrapper-6 .tgl,
.checkbox-wrapper-6 .tgl:after,
.checkbox-wrapper-6 .tgl:before,
.checkbox-wrapper-6 .tgl *,
.checkbox-wrapper-6 .tgl *:after,
.checkbox-wrapper-6 .tgl *:before,
.checkbox-wrapper-6 .tgl + .tgl-btn {
  box-sizing: border-box;
}
.checkbox-wrapper-6 .tgl::-moz-selection,
.checkbox-wrapper-6 .tgl:after::-moz-selection,
.checkbox-wrapper-6 .tgl:before::-moz-selection,
.checkbox-wrapper-6 .tgl *::-moz-selection,
.checkbox-wrapper-6 .tgl *:after::-moz-selection,
.checkbox-wrapper-6 .tgl *:before::-moz-selection,
.checkbox-wrapper-6 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-6 .tgl::selection,
.checkbox-wrapper-6 .tgl:after::selection,
.checkbox-wrapper-6 .tgl:before::selection,
.checkbox-wrapper-6 .tgl *::selection,
.checkbox-wrapper-6 .tgl *:after::selection,
.checkbox-wrapper-6 .tgl *:before::selection,
.checkbox-wrapper-6 .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox-wrapper-6 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 5em;
  height: 1em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:after,
.checkbox-wrapper-6 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 40%;
  height: 100%;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:before {
  display: none;
}
.checkbox-wrapper-6 .tgl:checked + .tgl-btn:after {
  left: 57%;
}

.checkbox-wrapper-6 .tgl-light + .tgl-btn {
  background: #80b9e9;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}
.checkbox-wrapper-6 .tgl-light + .tgl-btn:after {
  border-radius: 30%;
  background: #fff;
  transition: all 0.2s ease;
}
.checkbox-wrapper-6 .tgl-light:checked + .tgl-btn {
  background: #80b9e9;
}

.gameboards-container {
  background-color: rgb(197, 154, 154);
  height: 80vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard-left,
.gameboard-right {
  background-color: rgb(148, 131, 186);
  height: 90%;
  width: 43vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.player-name {
  font-size: 1.2rem;
  padding: 8px;
  font-weight: bold;
}

.player1-gameboard,
.player2-gameboard {
  background-color: #fff;
  border: 3px solid black;
  opacity: 1;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid rgb(213, 213, 213);
  height: 32px;
  width: 32px;
}

.ship {
  background-color: rgb(177, 200, 224);
}

.ships {
  background-color: red;
}

.player2-gameboard .ship {
  background-color: inherit;
}

.attacked:after {
  display: inline;
  content: "\00d7";
  font-size: 48px;
  font-weight: 900;
  color: red;
  position: relative;
  left: 3px;
  top: -14px;
}

.buttons {
  margin: 16px;
}

.randomize-btn,
.reset-btn {
  padding: 4px 16px;
}

.footer {
  background-color: gray;
  display: flex;
  justify-content: center;
}
