@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 10vh;
  text-align: center;
  background-color: rgb(155, 118, 156);
}

.header h3 {
  padding: 2rem;
  font-size: 2rem;
}

.main-container {
  background-color: rgb(195, 228, 195);
}

.footer {
  background-color: gray;
}
